/* A theme switcher can be added. */
:root {
  --bg: #ffffff;
  --card: #eeeeee;
  --text: #505050;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 300px;
}

.links {
  display: grid;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 0px;
  background: var(--card);
  color: var(--text);
  text-decoration: none;
  font-size: 1.0rem;
}

.link:hover {
    opacity: 0.5;
}

.top-text {
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #7b9de3, #a8c5ff, #819fdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
